<div class="theme-container frequent-restaurants">
  <h3 class="title">Restaurantes frecuentes</h3>
  <div class="content">
    <div *ngFor="let restaurant of restaurants" class="item">
      <mat-card [routerLink]="['/restaurants', restaurant.id, restaurant.companyId]" class="menu-item p-0">
        <div class="thumbnail-section">
          <img [src]="restaurant.image" class="w-100 d-block" />
          <h1 class="title">
            <a>{{ restaurant.name }}</a>
          </h1>
        </div>
      </mat-card>
    </div>
  </div>
</div>
