<mat-card class="m-2 p-0">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="w-100 p-2">
       <!--  <div></div>
        <a mat-raised-button color="primary" routerLink="/admin/products-items/add">
            <mat-icon>add</mat-icon>
            Agregar Nuevo Producto
        </a> -->
        <mat-form-field appearance="standard">
            <mat-label>Filtrar</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
    </div>
    <mat-divider></mat-divider>

    <div class="table-wrapper"> 
        <table mat-table [dataSource]="dataSource" matSort class="w-100">
        
            <!-- ID Column -->
            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.id_almacen}} </td>
            </ng-container> 
            
            <!-- Image Column -->  <!-- https://tmp02.appsdev.cyou/proyecto-grupal-backend/img/downloadd.png-->
            <ng-container matColumnDef="image">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Image </th>
                <td mat-cell *matCellDef="let menuItem"> <img [src]="'https://tmp02.appsdev.cyou/proyecto-grupal-backend/img/'+menuItem.imagen" alt="item" width="60"> </td>
            </ng-container> 

            <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.codigo}} </td>
            </ng-container> 
            <!-- Name Column -->
            <!-- <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                <td mat-cell *matCellDef="let menuItem"> {{( appService.Data.categories | filterById : menuItem.nombre )?.name}}  </td>
            </ng-container>  -->

            <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripcion </th>
                <td mat-cell *matCellDef="let menuItem"> {{menuItem.nombre +" - "+ menuItem.presentacion}} </td>
               </ng-container>

           <!-- Category Column -->
           <ng-container matColumnDef="UnidadMedida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unidad </th>
            <td mat-cell *matCellDef="let menuItem"> {{menuItem.unidad}} </td>
           </ng-container> 

            <ng-container matColumnDef="tamano">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tamaño </th>
            <td mat-cell *matCellDef="let menuItem"> {{menuItem.tamano}} </td>
           </ng-container> 

            <ng-container matColumnDef="cantidad">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
            <td mat-cell *matCellDef="let menuItem"> {{menuItem.cantidad}} </td>
           </ng-container> 

            <!-- Is Vegetarian Column -->
            <!-- <ng-container matColumnDef="isVegetarian">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estatus </th>
                <td mat-cell *matCellDef="let menuItem"> {{(menuItem.isVegetarian) ? 'Alta':'Baja'}} </td>
            </ng-container>  -->

            <!-- Actions Column -->
            <!-- <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> Acciones </th>
                <td mat-cell *matCellDef="let menuItem"> 
                    <a mat-icon-button color="primary" [routerLink]="['/admin/products-items/add', menuItem.id_detalle_insumo]" matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                    </a> 
                    <button mat-icon-button color="warn" (click)="remove(menuItem)" matTooltip="Remove">
                        <mat-icon>delete</mat-icon>
                    </button>   
                </td>
            </ng-container>  --> 
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let menuItem; columns: displayedColumns;"></tr>
        </table> 
        <p *ngIf="dataSource && dataSource.data.length === 0" class="py-5 mb-0 text-center">No data available</p> 
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
</mat-card>