<div class="details px-3">
  <div (click)="onReturn()" class="btn-back">
    <mat-icon>arrow_back</mat-icon>
  </div>
  <h3>Detalles</h3>
  <div class="delivery-type">
    <div class="delivery">
      <span class="label">Envío</span>
      <div class="delivery-info">
        <span class="time">{{ (100 || 0) * 1000 | date: 'mm:ss' }} min</span>
        <span>●</span>
        <span class="price">{{ 100 | currency }}</span>
      </div>
    </div>
    <div class="pickup active">
      <span class="label">Recoger</span>
      <span class="time">{{ (100 || 0) * 1000 | date: 'mm:ss' }} min</span>
    </div>
  </div>
  <div class="select-address">
    <div class="item">
      <div class="place-icon">
        <mat-icon class="mat-18">place</mat-icon>
      </div>
      <div class="content">
        <div class="address">
          <span>Río Fuerte</span>
          <span>Entregar en Rio fuerye</span>
        </div>
        <div class="view">
          <mat-icon>navigate_next</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="items">
    <div>
      <span>Tus artículos</span>
      <span>Mirar menú</span>
    </div>
    <div class="list">
      <div *ngFor="let item of cartItems" class="item">
        <div class="image">
          <img [src]="item.image.medium" />
        </div>
        <div class="content">
          <div class="info">
            <span class="title">{{ item.name }}</span>
            <div class="note">{{ item.note }}</div>
          </div>
          <div class="view">
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="summary">
    <div>
      <span>Subtotal</span>
      <span>$100</span>
    </div>
    <div>
      <span>Envío</span>
      <span>$200</span>
    </div>
    <div class="total">
      <span>Total</span>
      <span>$300</span>
    </div>
  </div>
  <div class="payment">
    <div class="payment-icon">
      <mat-icon class="mat-18">credit_card</mat-icon>
    </div>
    <div class="content">
      <span>Agregar método de pago</span>
      <div class="view">
        <mat-icon>navigate_next</mat-icon>
      </div>
    </div>
  </div>
</div>
