.header {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
}

.orders {
  background-color: #e1e1e1;
  border-radius: 31px;
  display: flex;
  padding: 5px 10px;
}

.orders .mat-icon {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.orders span {
  font-weight: bold;
  margin-left: 2px;
}

.item {
  display: flex;
  align-items: center;
}

.image img {
  width: 100%;
  border-radius: 50%;
}

.image {
  width: 90px;
}

.info {
  width: 90%;
  padding-left: 10px;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

.separator {
  margin: 0 5px;
  font-size: 8px;
}

.more-info,
.address {
  font-weight: 500;
  color: #4d4d4d;
}

.view {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}

.item:not(:first-child) {
  margin-top: 15px;
}

a.mat-primary,
button.mat-primary {
  background-color: #000 !important;
}

.actions {
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  align-items: center;

  .mat-icon {
    font-size: 20px;
    display: flex;
    align-items: center;
  }

  span {
    font-weight: bold;
    margin-left: 2px;
  }
}

.add-table {
  background-color: #e1e1e1;
  border-radius: 31px;
  display: flex;
  padding: 5px 10px;
  margin-left: 10px;
}

@media only screen and (min-width: 768px) {
  .item {
    display: flex;
    align-items: center;
    width: 500px;
    position: relative;
    left: calc(50% - 250px);
  }
}
