<div class="header">
  <div class="head-top" [style.background-image]="'url(' + restaurant?.image + ')'">
    <div (click)="onReturn()">
      <mat-icon class="back">arrow_back</mat-icon>
    </div>
    <div class="title hide">
      <h1>{{ restaurant?.name }}</h1>
    </div>
    <div>
      <mat-icon class="favorite">favorite_border</mat-icon>
    </div>
  </div>
  <div class="head-bottom">
    <div class="search">
      <mat-icon>search</mat-icon>
    </div>
    <div class="menu">
      <span *ngFor="let item of menu" [class.active]="item.id == currentMenu" (click)="onClickMenu(item)">{{ item?.name }}</span>
    </div>
  </div>
</div>
<div [routerLink]="['/restaurants/info', restaurant?.id]" class="info">
  <h1 class="title">{{ restaurant?.name }}</h1>
  <div class="rating">
    <mat-icon>star</mat-icon>
    <span>{{ restaurant?.rating?.average }} ({{ restaurant?.rating?.count }} valoraciones)</span>
  </div>
  <div class="category">
    <span *ngFor="let item of categories">{{ item.name }}</span>
  </div>
  <span>Presiona para más información</span>
  <mat-icon class="more-info">navigate_next</mat-icon>
</div>
<div class="delivery-type">
  <div class="delivery">
    <span class="label">Envío</span>
    <div class="delivery-info">
      <span class="time">{{ (restaurant?.delivery?.time || 0) * 1000 | date: 'mm:ss' }} min</span>
      <span>●</span>
      <span class="price">{{ restaurant?.delivery?.price | currency }}</span>
    </div>
  </div>
  <div class="pickup active">
    <span class="label">Recoger</span>
    <span class="time">{{ (restaurant?.pickup?.time || 0) * 1000 | date: 'mm:ss' }} min</span>
  </div>
</div>
<div class="restaurant-menu">
  <div class="head">
    <span>Menú</span>
    <mat-icon class="mat-18">search</mat-icon>
  </div>
  <div class="content">
    <div *ngFor="let item of menu" id="restaurant-menu-{{ item.id }}">
      <h1>{{ item.name }}</h1>
      <div *ngFor="let item of plates" [routerLink]="['/restaurants/' + restaurant?.id + '/plate', item.id]" class="menu-item">
        <div class="menu-info">
          <h2>{{ item.name }}</h2>
          <span class="price">{{ item.price | currency }}</span>
          <p class="description">{{ item.description }}</p>
        </div>
        <img [src]="item.image.medium" alt="" />
      </div>
    </div>
  </div>
</div>
<div (click)="openCart()" class="view-cart">Mirar carrito (1)</div>
