<br>
<br>
<div class="card">
    <div class="card-header text-center">
        <strong>Agregar Producto</strong>
    </div>
    <div class="card-body">
        <form >
            <div class="mb-3">
              <label for="" class="form-label">Producto</label>
              <input required type="text"
                class="form-control" name=""  id="" aria-describedby="helpId" placeholder="Escribe el nombre del producto">
            </div>

           <div class="mb-3">
             <label for="" class="form-label">Descripción del producto</label>
             <textarea required class="form-control" name=""  id="" rows="3"></textarea>
           </div>

            <!-- <div class="mb-3">
              <label for="" class="form-label">Fecha y Hora del Evento</label>
              <input required type="datetime-local"
                class="form-control" name=""  id="" aria-describedby="helpId" placeholder="">
            </div> -->

           <!--  <div class="mb-3">
              <label for="" class="form-label">Agrega una Imagen</label>
              <input type="file" class="form-control" name=""  id="" placeholder="" aria-describedby="fileHelpId">
            </div> -->

            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Selecciona la categoria</option>
                    <option value="1">Limpieza</option>
                    <option value="2">Articulos de cocina</option>
                    <option value="3">Alimentos</option>
                  </select>
            </div>

            <div class="mb-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Selecciona El Estatus
                    </option>
                    <option value="1">Alta</option>
                    <option value="2">Baja</option>
                  </select>
            </div>

            <div class="btn-group" role="group" aria-label="">
                <button type="submit" class="btn btn-success">Agregar</button>
                <button type="button" class="btn btn-primary" >Cancelar</button>
            </div>


        </form>


    </div>
    
</div>