<div class="header bg-primary">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <h2 class="fw-700 secondary-font">{{(data?.customer) ? 'Editar' : 'Agregar'}} Gasto fijo</h2>
        <app-dialog-header-controls [dialogRef]="dialogRef"></app-dialog-header-controls>
    </div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div mat-dialog-content>
        <mat-tab-group class="tab-content-wrapped">
            <mat-tab label="Gastos fijo">
                <div fxLayout="row wrap" class="mt-2">
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Tipo de gasto</mat-label>
                            <mat-select formControlName="tipo_gasto">
                                <mat-option [value]="">-</mat-option>
                                <mat-option *ngFor="let tipoGasto of data.TipoGastos" [value]="tipoGasto.id_tipo">
                                    <span>{{tipoGasto.nombre}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Descripcion</mat-label>
                            <input matInput placeholder="Descripcion" formControlName="descripcion" required>
                            <mat-error *ngIf="form.controls.descripcion.errors?.required">Descripcion es obligatorio
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Cantidad ($)</mat-label>
                            <input matInput formControlName="cantidad">
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3">
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="fecha" formControlName="fecha">
                            <mat-datepicker-toggle matSuffix [for]="fecha"></mat-datepicker-toggle>
                            <mat-datepicker #fecha></mat-datepicker>
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Fecha</mat-label>
                            <input matInput required type="date" formControlName="fecha" class="form-control" name=""
                                id="" aria-describedby="helpId" placeholder="">
                            <mat-icon matSuffix class="text-muted">date</mat-icon>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Sucursal</mat-label>
                            <mat-select formControlName="id_sucursal">
                                <mat-option [value]="">-</mat-option>
                                <mat-option *ngFor="let sucursal of data.Sucursales" [value]="sucursal.id_sucursal">
                                    <span>{{sucursal.nom_sucursal}}</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-md="25" class="px-3">
                        <!-- <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Periodicidad</mat-label>
                            <input matInput [matDatepicker]="periodicidad" formControlName="periodicidad">
                            <mat-datepicker-toggle matSuffix [for]="periodicidad"></mat-datepicker-toggle>
                            <mat-datepicker #periodicidad></mat-datepicker>
                        </mat-form-field> -->
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Periodicidad</mat-label>
                            <input matInput required type="date" formControlName="periodicidad" class="form-control" name=""
                                id="" aria-describedby="helpId" placeholder="">
                            <mat-icon matSuffix class="text-muted">date</mat-icon>                                                                
                        </mat-form-field>
                    </div>

                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Status</mat-label>
                            <mat-select formControlName="status">
                                <mat-option [value]="">-</mat-option>
                                <mat-option [value]="1">
                                    <span>Alta</span>
                                </mat-option>
                                <mat-option [value]="0">
                                    <span>Baja</span>
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100 px-1">
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Cerrar</button>
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </div>
    </div>
</form>