<div class="details px-3">
  <div class="btn-back">
    <mat-icon (click)="onReturn()">arrow_back</mat-icon>
    <mat-icon *ngIf="order.status == status[2]" (click)="cancelOrder()" class="close mat-18">close</mat-icon>
  </div>
  <h3>Detalles del pedido ({{ deliveryStatusTop.name }})</h3>
  <div (click)="openRestaurantAddress()" class="restaurant-address">
    <div class="item">
      <div class="place-icon">
        <mat-icon class="mat-18">store</mat-icon>
      </div>
      <div class="content">
        <div class="address">
          <span>{{ restaurant?.name }}</span>
          <span>Recoges en {{ restaurantAddress }}</span>
        </div>
        <div class="view">
          <mat-icon>navigate_next</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div (click)="openClientAddress()" class="client-address">
    <div class="item">
      <div class="place-icon">
        <mat-icon class="mat-18">person</mat-icon>
      </div>
      <div class="content">
        <div class="address">
          <span>{{ user?.username }} - {{ clientAddress?.postalCode }}</span>
          <span>Entregas en {{ clientAddress?.address }}</span>
        </div>
        <div class="view">
          <mat-icon>navigate_next</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="items">
    <div>
      <span>Los artículos</span>
    </div>
    <div class="list">
      <div *ngFor="let item of cartItems" class="item">
        <div class="image">
          <img [src]="item.image.medium" />
        </div>
        <div class="content">
          <div class="info">
            <span class="title">{{ item.cartCount }} - {{ item.name }}</span>
            <div class="note">{{ item.note }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="summary">
    <div>
      <span>Subtotal</span>
      <span>{{ subtotal | currency }}</span>
    </div>
    <div>
      <span>Envío</span>
      <span>{{ restaurant?.delivery?.price | currency }}</span>
    </div>
    <div class="total">
      <span>Total</span>
      <span>{{ total | currency }}</span>
    </div>
  </div>
  <h4>Método de pago</h4>
  <div class="payment">
    <div class="payment-icon">
      <mat-icon class="mat-18">attach_money</mat-icon>
    </div>
    <div class="content">
      <span>Pagarás en efectivo</span>
    </div>
  </div>
</div>
<div class="separator"></div>
<div (click)="changeStatus()" class="place-order">{{ deliveryStatusBottom.name }}</div>
