<div class="header">
  <div (click)="onReturn()">
    <mat-icon class="back">arrow_back</mat-icon>
  </div>
</div>
<div class="info">
  <h1 class="title">Domino's</h1>
  <div class="category">
    <span>Pizza</span>
    <span>●</span>
    <span>Alitas</span>
    <span>●</span>
    <span>Papas</span>
  </div>
</div>
<div class="separator"></div>
<div class="item location">
  <div class="icon">
    <mat-icon>place</mat-icon>
  </div>
  <div>
    <span>Av. Independencia 44, México</span>
    <div class="action">
      <mat-icon>navigate_next</mat-icon>
    </div>
  </div>
</div>
<div class="separator"></div>
<div class="item">
  <div class="icon">
    <mat-icon>schedule</mat-icon>
  </div>
  <span>Avierto hasta las 11:00 PM</span>
  <div class="action">
    <mat-icon>navigate_next</mat-icon>
  </div>
</div>
<div class="separator"></div>
<div class="item">
  <div class="icon">
    <mat-icon>delivery_dining</mat-icon>
  </div>
  <span>Envios de hasta $10</span>
</div>
<div class="separator"></div>
<div class="item">
  <div class="icon">
    <mat-icon>star</mat-icon>
  </div>
  <span>4.3 (190 valoraciones)</span>
</div>
