<div class="ordersList px-3">
    <div class="carts">
      <h2 class="py-3">Ordenes</h2>
      <div *ngFor="let order of ordersList" (click)="openOrder(order)" class="item">
        <div class="image">
          <img [src]="order.items[0].image.medium" />
        </div>
        <div class="content">
          <div class="info">
            <!-- <span class="title">{{ getRestaurant(order.items[0])?.name }}</span> -->
            <div class="more-info">
              <span class="totalItems">{{ getTotalItems(order.items) }} artículos</span>
              <span class="separator">●</span>
              <span class="totalPrice">{{ getTotalPrice(order.items) | currency }}</span>
            </div>
            <div class="stauts">{{ order.status.name }}</div>
          </div>
          <div class="view">
            <mat-icon>navigate_next</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!ordersList.length" class="empty-cart py-3 text-center">
    <p>No tiene nada en su carrito</p>
    <a routerLink="/categories" mat-raised-button color="primary" class="transform-none">Ver categorías</a>
  </div>