<div class="theme-container frequent-categories">
  <h3 class="title">Categorías frecuentes</h3>
  <div class="content">
    <div *ngFor="let category of categories" class="item">
      <mat-card [routerLink]="['/categories', category.id]" class="menu-item p-0">
        <div class="thumbnail-section">
          <img [src]="category.image" class="w-100 d-block" />
          <h1 class="title">
            <a>{{ category.name }}</a>
          </h1>
        </div>
      </mat-card>
    </div>
  </div>
</div>
