<div class="head">
  <mat-icon (click)="onReturn()">arrow_back</mat-icon>
  <h1 *ngIf="currentCategory">{{ currentCategory.name }}</h1>
</div>
<div *ngIf="restaurants" class="content">
  <div class="results">
    <span>{{ totalResults }} resultados</span>
  </div>
  <div [routerLink]="['/restaurants', restaurant.id, restaurant.companyId]" class="item" *ngFor="let restaurant of restaurants">
    <img [src]="restaurant.image" />
    <div class="info">
      <span class="title">{{ restaurant.name }}</span>
      <span class="delivery">{{ restaurant.delivery.price | currency }}</span>
      <span class="time"> {{ restaurant.delivery.time * 1000 | date: 'mm:ss' }} min</span>
    </div>
  </div>
</div>
