<div class="ordersList px-3">
  <div class="carts">
    <div>
      <h2 class="py-3">Pedidos</h2>
      <mat-icon (click)="restartOrders()" class="restore mat-18">restore</mat-icon>
    </div>
    <div *ngFor="let order of ordersList" [routerLink]="['/orders', order.id]" routerLinkActive="router-link-active" class="item">
      <div class="image">
        <img [src]="order.items[0].image.medium" />
      </div>
      <div class="content">
        <div class="info">
          <span class="title">{{ getRestaurant(order.items[0])?.name }}</span>
          <div class="more-info">
            <span class="totalItems">{{ getTotalItems(order.items) }} artículos</span>
            <span class="separator">●</span>
            <span class="totalPrice">{{ getTotalPrice(order.items) | currency }}</span>
          </div>
          <div class="stauts">{{ isOrderTaken(order) }}</div>
        </div>
        <div class="view">
          <mat-icon>navigate_next</mat-icon>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!ordersList.length" class="empty-cart py-3 text-center">
  <p>No hay pedidos</p>
</div>
