.header {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 50px;
}

.orders {
  margin-bottom: 40px;
}

.item {
  display: flex;
  align-items: center;
}

.image img {
  width: 100%;
  border-radius: 50%;
}

.image {
  width: 90px;
}

.info {
  width: 90%;
  padding-left: 10px;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

.separator {
  margin: 0 5px;
  font-size: 8px;
}

.more-info,
.address {
  font-weight: 500;
  color: #4d4d4d;
}

.view {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}

.item:not(:first-child) {
  margin-top: 15px;
}

a.mat-primary,
button.mat-primary {
  background-color: #000 !important;
}

.restore {
  position: absolute;
  right: 20px;
  top: 20px;
}
