<mat-card class="m-2 p-0">

    <form [formGroup]="form" (ngSubmit)="submit()" fxLayout="row wrap" class="reservation-form" autocomplete="off">        
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Buscar por</mat-label>
                <mat-select formControlName="time" required>
                    <mat-option *ngFor="let hour of hours" [value]="hour">{{hour}}</mat-option>
                    <mat-option [value]="Mensual">Mensual</mat-option>
                    <mat-option [value]="Anual">Anual</mat-option>
                    <mat-option [value]="Rango">Rango</mat-option>                                        
                </mat-select>
                <mat-icon matSuffix class="text-muted">schedule</mat-icon>
                <mat-error *ngIf="form.controls.time.errors?.required">Seleccione una opcion</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Fecha</mat-label>
                <input matInput placeholder="Pick a date" formControlName="date" required [matDatepicker]="datePicker"
                    appMaskDate>
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
                <mat-error *ngIf="form.controls.date.errors?.required">Date is required</mat-error>
            </mat-form-field>
        </div> A
        <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-3" ngClass.sm="mt-1" ngClass.xs="mt-1">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Fecha</mat-label>
                <input matInput placeholder="Pick a date" formControlName="date" required [matDatepicker]="datePicker"
                    appMaskDate>
                <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                <mat-datepicker #datePicker></mat-datepicker>
                <mat-error *ngIf="form.controls.date.errors?.required">Date is required</mat-error>
            </mat-form-field>
        </div>


        <div class="w-100 py-2 text-center">
            <button mat-raised-button color="primary" type="submit" class="uppercase">Buscar</button>
        </div>
    </form>
</mat-card>
