<div fxLayout="row wrap" class="flex-wrapper">
  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
    <div class="bordered px-3 py-2">
      <div fxLayoutAlign="space-between center">
        <h2 class="secondary-font">Tú cuenta</h2>
        <a mat-icon-button routerLink="/account/profile"><mat-icon class="text-muted">edit</mat-icon></a>
      </div>
      <div class="divider"></div>
      <div class="pt-3">
        <p>{{ user.username }}</p>
        <p>{{ user.profile?.name }} {{ user.profile?.surname }}</p>
        <p>{{ user.contacts?.email }}</p>
        <p>{{ user.contacts?.phone }}</p>
        <p>{{ company?.name }}</p>
        <p>{{ branch?.name }}</p>
        <p>{{ position?.name }}</p>
        <p>{{ user?.work?.salary | currency }}</p>
        <p><a routerLink="/account/password-change" class="primary-color fw-500">Cambiar contraseña</a></p>
      </div>
    </div>
  </div>
</div>
