<div fxLayout="row wrap" class="flex-wrapper">
  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
    <div class="bordered px-3 py-2">
      <div fxLayoutAlign="space-between center">
        <h2 class="secondary-font">Información de la cuenta</h2>
        <a mat-icon-button routerLink="/account/profile"><mat-icon class="text-muted">edit</mat-icon></a>
      </div>
      <div class="divider"></div>
      <div class="pt-3">
        <p>{{ user.username }}</p>
        <p>{{ user.contacts?.email }}</p>
        <p><a routerLink="/account/password-change" class="primary-color fw-500">Cambiar contraseña</a></p>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="33.3" fxFlex.sm="50" class="p-3">
    <div class="bordered px-3 py-2">
      <div fxLayoutAlign="space-between center">
        <h2 class="secondary-font">Direcciones</h2>
        <a mat-icon-button routerLink="/account/addresses"><mat-icon class="text-muted">edit</mat-icon></a>
      </div>
      <div class="divider"></div>
      <div class="pt-3">
        <p>Dirección de envío</p>
      </div>
    </div>
  </div>
</div>
