.head {
  background-color: #f6f0eb;
  padding: 1rem 0 1rem 1rem;
  padding-top: 1rem;
}

.results {
  padding: 10px 0;
}

.content {
  padding: 0 1rem;
  padding-bottom: 40px;
}

.item {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;
}

img {
  width: 70px;
  height: 100%;
}

.info {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 15px;
  font-weight: bold;
  word-break: break-all;
  line-height: 12px;
  padding-bottom: 5px;
}
