<br>    
<br>
<div class="card">
        
    <div class="card-body">
        <h1>Productos Registrados</h1>
        <hr>
            <!-- <input  placeholder="Filter"> -->
            <a class="btn btn-primary"  routerLink="Add">agregar</a>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Producto</th>
                    <th>Descripcion</th>
                    <th>Categoria</th>
                    <th>Estatus</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr > <!-- *ngFor="let user of Usuarios; let iControl=index" -->
                    <td>1</td>
                    <td>Harina</td>
                    <td>Harina rica sinaloa</td>
                    <td>Alimentos</td>
                    <td>Alta</td>
                    <td> 
                        <a class="btn btn-success" >Edit</a>
                        |
                        <a class="btn btn-danger" >Eliminar</a> 
                    </td>
                </tr>
                <tr > <!-- *ngFor="let user of Usuarios; let iControl=index" -->
                    <td>2</td>
                    <td>Agua</td>
                    <td>Garrafon Agua ciel</td>
                    <td>Liquidos</td>
                    <td>Alta</td>
                    <td> 
                        <a class="btn btn-success" >Edit</a>
                        |
                        <a class="btn btn-danger" >Eliminar</a> 
                    </td>
                </tr>
                <tr > <!-- *ngFor="let user of Usuarios; let iControl=index" -->
                    <td>3</td>
                    <td>Axion</td>
                    <td>Jabon liquido</td>
                    <td>Limpieza</td>
                    <td>Alta</td>
                    <td> 
                        <a class="btn btn-success" >Edit</a>
                        |
                        <a class="btn btn-danger" >Eliminar</a> 
                    </td>
                </tr>
                
            </tbody>
        </table>
        

    </div>
</div>