.header {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 150px;
}

.back {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info,
.special-instructions,
.counter {
  margin: 15px 15px;
  display: flex;
  flex-direction: column;
}

.info h1 {
  font-size: 25px;
  line-height: 25px;
}

.price {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.ingredients {
  margin-top: 10px;
}

.separator {
  width: 100%;
  height: 8px;
  background-color: #e6e6e6;
}

.special-instructions h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 20px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  outline: none;
  margin-top: 15px;
}

.add-cart {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
}

.add-cart span {
  font-size: 10px;
  margin: 0 5px;
}

.counter {
  margin-top: 30px;
  margin-bottom: 90px;
}

::ng-deep .quantity-counter {
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .header,
  .info,
  .special-instructions,
  .counter {
    width: 500px;
    position: relative;
    left: calc(50% - 250px);
  }
}
