.title {
  font-size: 15px;
  font-weight: bold;
}

.content {
  display: flex;
  overflow-x: auto;
}

.content .item {
  text-align: center;
  height: 120px;
}

.content img {
  width: 90px !important;
}

.content .title {
  width: 90px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.content a {
  white-space: nowrap;
}
