.delivery-type {
  margin: 15px 0px;
  display: flex;
  background-color: #efeef1;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  height: 60px;
}

.pickup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.delivery-type > div {
  height: 50px;
  width: calc(50% - 5px);
}

.delivery-type .active {
  background-color: #fff;
  border-radius: 25px;
  border: none;
}

.delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: bold;
  font-size: 15px;
}

.delivery-info span:nth-child(2) {
  opacity: 0.5;
  font-size: 10px;
  margin: 0 5px;
}

.delivery-info {
  display: flex;
  align-items: center;
}

.btn-back {
  display: flex;
  margin: 10px 0;
}

h3 {
  font-size: 20px;
}

.item,
.payment {
  display: flex;
  align-items: center;
}

.image img {
  width: 100%;
  border-radius: 50%;
}

.image {
  width: 60px;
}

.info,
.address {
  width: 90%;
  padding-left: 10px;
}

.title {
  font-weight: bold;
  font-size: 15px;
}

.separator {
  border-bottom: 1px solid #e1e1e1;
}

.more-info,
.address {
  font-weight: 500;
  color: #4d4d4d;
}

.view {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 10px;
}

.item:not(:first-child) {
  margin-top: 15px;
}

.item-location {
  display: flex;
}

.address {
  display: flex;
  flex-direction: column;
}

.address span:first-child {
  font-weight: bold;
}

.place-icon,
.payment-icon {
  margin: 5px;
  display: flex;
}

.items > div:first-child {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

.items > div:first-child span:first-child {
  font-weight: bold;
}

.summary div {
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: bold;
}

.summary {
  margin: 10px 0;
}

.payment {
  margin-bottom: 10px;

  .content span {
    width: 100%;
  }

  .content {
    padding-bottom: 0;
    border-bottom: 0;
  }

  > div {
    display: flex;
    align-items: center;
  }
}

.place-order {
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  font-size: 15px;
  margin: 1rem;
}
