<div fxLayout="row wrap"> 
    <div fxFlex="100" fxFlex.gt-sm="50"> 
        <h2 class="secondary-font text-center mb-3">Cambio de contraseña</h2> 
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()" autocomplete="off">            
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contraseña actual</mat-label>
                <input matInput placeholder="Contraseña actual" formControlName="currentPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">Se requiere la contraseña actual</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">La contraseña actual no es lo suficientemente larga, mínimo 6 caracteres</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput placeholder="Nueva contraseña" formControlName="newPassword" type="password" minlength="6" required>
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">Se requiere una nueva contraseña</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">La nueva contraseña no es lo suficientemente larga, mínimo 6 caracteres</mat-error>
            </mat-form-field> 
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Confirmar nueva contraseña</mat-label>
              <input matInput placeholder="Confirmar nueva contraseña" formControlName="confirmNewPassword" type="password" required>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">Es necesario confirmar la nueva contraseña</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Las contraseñas no coinciden</mat-error>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">Cambiar contraseña</button>
            </div>
        </form>
    </div>
</div> 
