<div fxLayout="row wrap"> 
    <div fxFlex="100" fxFlex.gt-sm="50"> 
        <h2 class="secondary-font text-center mb-3">Cambiar contraseña</h2> 
        <form [formGroup]="passwordForm" (ngSubmit)="onPasswordFormSubmit()" autocomplete="off">  
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>ID</mat-label>
                <input matInput placeholder="ID" formControlName="id" >
            </mat-form-field>          
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Contraseña actual</mat-label>
                <input matInput placeholder="Contraseña actual" formControlName="currentPassword" type="password" minlength="6" required [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="passwordForm.controls.currentPassword.errors?.required">Se requiere su contraseña actual</mat-error>
                <mat-error *ngIf="passwordForm.controls.currentPassword.hasError('minlength')">Se requieren minimo 6 caracteres</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Nueva contraseña</mat-label>
                <input matInput placeholder="Nueva contraseña" formControlName="newPassword" type="password" minlength="6" required [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="passwordForm.controls.newPassword.errors?.required">Se requiere la nueva contraseña</mat-error>
                <mat-error *ngIf="passwordForm.controls.newPassword.hasError('minlength')">Se requieren minimo 6 caracteres</mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field> 
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Confirmar contraseña</mat-label>
              <input matInput placeholder="Confirm New Password" formControlName="confirmNewPassword" type="password" required [type]="hide ? 'password' : 'text'">
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.errors?.required">Se requiere confirmar la contraseña</mat-error>
              <mat-error *ngIf="passwordForm.controls.confirmNewPassword.hasError('mismatchedPasswords')">Las contraseñas no coinciden</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <div class="text-center mt-2">
                <button mat-raised-button color="primary" type="submit" class="uppercase">Cambiar contraseña</button>
            </div>
        </form>
    </div>
</div> 
