.search {
  display: flex;
  align-items: center;
  background-color: #efefef;
  border-radius: 20px;
  height: 40px;
}

.search-icon {
  margin-left: 10px;
  display: flex;
  justify-content: right;
}

.search-input {
  width: 90%;
  background-color: #efefef;
  border: none;
  outline: none;
  margin: 0 10px;
}

.close-icon {
  margin-right: 10px;
  display: flex;
  justify-content: left;
  visibility: hidden;
}

.show {
  visibility: visible;
}

.suggestions {
  position: fixed;
  background-color: #fff;
  z-index: 100;
  width: calc(100% - 1rem);
  top: 78px;
  bottom: 40px;
  overflow-y: scroll;
}

.item {
  display: flex;
  padding: 10px;
  align-items: center;

  p {
    margin: 0;
    font-weight: 400;
    margin-left: 10px;
  }
}

.restaurants .item {
  display: flex;
  margin-bottom: 10px;
  align-items: flex-start;

  img {
    width: 70px;
    height: 100%;
  }

  .info {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }

  .title {
    font-size: 15px;
    font-weight: bold;
    word-break: break-all;
    line-height: 12px;
    padding-bottom: 5px;
  }
}
