<div class="px-3 py-5">
    <div class="theme-container"> 
        <mat-card class="p-0 o-hidden">
            <div fxLayout="row wrap"> 
                <div fxFlex="100" fxFlex.gt-sm="50" class="p-0" [style.background-image]="bgImage" class="bg-cover"> 
                </div> 
                <div fxFlex="100" fxFlex.gt-sm="50" class="py-3" ngClass.gt-sm="px-5" ngClass.sm="px-3" ngClass.xs="px-3">  
                    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">  
                        <h1 class="secondary-font">Iniciar sesión</h1>  
                        <a mat-button routerLink="/register" color="accent" class="w-100">No tienes una cuenta? Registrate ahora mismo!</a>    
                    </div>
                    <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
                        <mat-form-field appearance="outline" class="w-100 mt-2">
                            <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                            <mat-label>Nombre de usuario</mat-label>
                            <input matInput placeholder="Usuario" formControlName="username" required>
                            <mat-error *ngIf="loginForm.controls.username.errors?.required">Se requiere un nombre de usuario</mat-error>
                            <mat-error *ngIf="loginForm.controls.username.hasError('minlength')">Nombre de usuario muy corto, se requieren minimo 6 caracteres</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-100 mt-1">
                            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                            <mat-label>Contraseña</mat-label>
                            <input matInput placeholder="Contraseña" formControlName="password" required [type]="hide ? 'password' : 'text'">
                            <mat-error *ngIf="loginForm.controls.password.errors?.required">Se requiere una contraseña</mat-error>
                            <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">Contraseña demasiado corta, se requiere minimo 6 caracteres</mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field> 
                        <mat-slide-toggle formControlName="rememberMe" class="my-2">Mantener la sesión iniciada</mat-slide-toggle>
                        <div class="text-center mt-2"> 
                            <button mat-raised-button color="accent" class="uppercase" type="submit">
                                Iniciar sesión
                            </button>
                        </div>
                    </form>
                </div> 
            </div> 
        </mat-card>  
    </div>
</div>   