<div class="header bg-primary">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <h2 class="fw-500 secondary-font">{{(category) ? 'Editar' : 'Agregar'}} Stock Minimo</h2>
        <app-dialog-header-controls [dialogRef]="dialogRef"></app-dialog-header-controls> 
    </div>   
</div>  
<form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off" class="pt-3">
    <div mat-dialog-content>
        <div fxLayout="row wrap">

            <!-- <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Detalles de Insumo</mat-label>
                    <select matNativeControl required formControlName="insumo">
                      <option>Coca cola</option>
                    </select>
                  </mat-form-field>
            </div> -->

            
            <div fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="insumo" required>
                    <mat-error *ngIf="form.controls.insumo.errors?.required">Name is required</mat-error> 
                </mat-form-field>
            </div> 
            
            <div class="row" fxFlex="100">
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Stock Minimo</mat-label>
                    <input type="number" matInput formControlName="stock_minimo" required>
                    <mat-error *ngIf="form.controls.stock_minimo.errors?.required">Tamaño is required</mat-error> 
                </mat-form-field>
            </div> 
            </div> 

            
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100"> 
            <button mat-raised-button color="warn" type="button" mat-dialog-close>Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </div> 
    </div>
</form> 
 